<a href="https://colab.research.google.com/github/Alemisa/Machine-Learning_Practical-Sessions/blob/main/Lab01_Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**`Lab-1: Basic Python Learning`**
1.  What is Python
2.  Key Features of Python
3.  How to begin with Python
4.  Learn the basics Python

`1. What is python`
*   Created by Guido van Rossum during 1985-1990 And first released in 1991
*   It is one of the most popular languages
*   It is simple to learn,powerful and used in many fields
*   List item
*   Python -is interpreted, interctive, object-oriented and high-level programming language with easy synax

`2.   Key Features of Python`
* **Simple and Easy to learn:**- Syntax is very similar to English language
* **Interprated Language:**-Runs line-by-line,.No need to compile code
*  **High-level language:**-Programmer does not need to manage or system-level details.
*   **Object_oriented:**_Supports classes, objects, inheritance, polymorphism,etc.
*   **Portable/Cross-platform:-** Works on windows, Linux,MacOS,etc.without changes.
*   **Extensible and Embeddable:** Can  embed Python inside other applcations e.g. can we use C/C++ inside Python
*   **Supports Multiple Programming Paradigms:** Procedural..> Object-Oreinted and Functional Programming
*   **Open-Source:**- Any one can dowload and use for free.

`3.   How to Begin with Python`
*    **Install Python**..> Go to python.org
*   **Choose the an Editor/IDE:** IDLE(come with python,VS Code,PyCharm, Jupyter Notebook)
*   Note: Google Colab, but it is notexactly a traditional Python IDE, but works like one for writing and running python code.
*   **What is Google Colab:-** Is a cloud-based python notebook environment. Runs in web browser, Provide free access to GPUs/TPUs(great for Ai|ML)
*   i.e. Is an online platform where you can write and run Python code without inslalling Python.

* `*Why people use Google Colab:*`*
*  No installation required
*  Works on any device (laptop/phone)
*  Perfect for data science, machine learning, and Python practice
*  You can upload datasets, write code, and run it instantly

3.1.   **`Write Your First Python program`**

In [ ]:
print("Welcome to Python program!")

Welcome to Python program!

**`4.  Learn the Basics`**
*   Variables
*   Input/Output
*   Data types: Numerical(int, float, Complex),String, Boolean, Lists, Tuples,Dictionaries,Set
*   Operations   
*   Control Flow:if--else, Loops(for, while)
*   Functions
*   File handling

`a **Variable Declaration in Python**` `
*   How can we declare (write) variables in PYTHON
*   In,python,variable are declared simply by assigning a value-no need to mention data type
*   Note: In Python, you don't need to declare variables before using it, unlike other languages like java, C etc.
*   The declarations happen automatically when you assign  a value to a variable
*   The equal sign(=) is ued to assign values to variable

In [ ]:
#Consider the Example-1 below:
x = 10          # integer
name = "Python" # string
pi = 3.14       # float
is_valid = True # boolean

In [ ]:
#Considere example-2 below:
s=20
print(s)

20

*   **Note: Important Points:**
*   No need to write *int,float,char like C,C++ or Java* language.
*   Python automatically understands the data type from the values.
*   Variables names should not start with numbers or special characters.

`**b.  Inpu/Output**`
*   Input means taking data from the user while the program is running. In Python, this is done using the input() function.
*   Output means showing information to the user. In Python, this is done using the print() function.**bold text**

In [ ]:
#Example: Input from user
name = input("Enter your name: ")   # Input from user
print("Hello,", name)                # Output to screen

Hello, dsfg

In [ ]:
#Taking numeric input and printing result
#Example: Write a python program to add two integers number
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
#print("The sum of a and b is:",(a+b))
sum=a+b
print("The sum is:", sum)

In [ ]:
# See the deffirence with the above example
#Example 4: What is the output snipts code below?
a=input("Enter the first number:")
b=input("Enter the second number:")
print("The sum of a and b is:",(a+b))

In [ ]:
#Multiple outputs in one line
a = 5
b = 10
print("A is", a, "and B is", b)

In [ ]:
#Exercise 1: Ask the user to enter their fname,lname, sex and age, then display:
fname=input("Enter fname:")
lname=input("Enter lname:")
sex= input("enter sex:")
age=int(input("enter your age:"))
print("your fname is:"+fname)
print("Your lname is:"+lname)
print("your sex is:"+sex)
print("your age is:",age) # only concatenate string e.g. we can not write.(" your age is"+age)

In [ ]:
#Exercise 2: Write a program to input two numbers and print their: Sum, Difference, Product

In [ ]:
#Exercise 3: Ask the user to enter their favorite color and favorite food, then print a sentence:Hint: Your favorite color is ___ and you love to eat ___.

In [ ]:
#Exercise 4: Input the radius of a circle and print the area.

In [ ]:
#Exercise 5:Ask the user for a temperature in Celsius and convert it to Fahrenheit.
#Formula: F = (C * 9/5) + 32

In [ ]:
#Exercise 6: Input a number and print:
    #Double of the number and Square of the number
    #Hint: Enter a number: 6
    #Double = 10
    #Square = 25

3. Basic Data Type in Python

3.1. Numerical Data type:
     *   Integer
     *   Float
     *   Complex
*   Note: Numerical data type is used to store numerical values in variable
*   NOT Mutable

a.   Integer(**int**)
*   Represents whole number(Positive,Negative & Zeros)
*   Example: 5, -10, 0

In [ ]:
#int-Example#1
x=10
y=-8
print(type(x))
print(type(y))

In [ ]:
#int-Example#2
a = 10
b = -7
print(a, b)
print(type(a))  # <class 'int'>

b. Float(float)
* Decimal to real numbers
* Numbers with decimal points
* Example: 3.14, -0.5, 2.0

In [ ]:
#float-Example-1
price=29.98
pi=3.14
print(type(price))
print(type(pi))

In [ ]:
#float-Example-3
x = 3.14
y = -0.5
print(x, y)
print(type(x))  # <class 'float'>

c.  Complex (complex)
*   Numbers with real and imaginary parts
*   Example: 2 + 3j, -1 - 5j

In [ ]:
#Complex-Example #1
a = 2 + 3j
b = -1 - 5j
print(a, b)
print(type(a))  # <class 'complex'>

In [ ]:
#Example: integer+float+complex
a=10
b=10
c=3.14
d=0.142
e=10+3j
f=6j
print(a+b,c-d,e-f,end='\n')
print(a-c,b-f,a*b,end='\n')

In [ ]:
#Exercise 1: Integer Operations
#Ask the user to input two integers. Print their sum, difference, product, and quotient

In [ ]:
#Exercise 2: Float Operations
#Ask the user to input two floating-point numbers. Print sum, difference, product, division, and average

In [ ]:
#Exercise 3: Complex Numbers
#Ask the user to input two complex numbers (you can give them format a+bj). Print their sum, difference, and product

2.String(str)
* Sequence of characters, used to store textual data. Strings are one of the most commonly used data types.
*   String (str): A collection of characters (letters, numbers, symbols, or spaces,symbols) enclosed in single quotes ' ' or double quotes " ".
*   Strings are immutable → cannot be changed after creation
*   Can use triple quotes for multi-line strings:
text = """This is
a multi-line
string"""
print(text)

In [ ]:
# String: Example #1: Single and double quotes
name = "Python"
greeting = 'Hello, World!'
# Using numbers and symbols inside string
info = "Age: 25, Score: 90%"
print(name)
print(greeting)
print(info)
print(type(name))

In [ ]:
#String-Example #2
name="python"
cname='machine-learning'
message="hello, world"
print(type(name))
print(type(message))
print(type(cname))

In [ ]:
#Example:- Multi-line string
my_info = """Hello, my name is Alice.
I am 20 years old.
I love Python programming."""
# Output
print(my_info)

In [ ]:
#Exercise-1 : Ask the user to enter their first name and last name, then print full name.

In [ ]:
#Exercise-2: Ask the user to input a sentence, then print:
#Number of characters
#The sentence repeated twice
# Exercise-2: Ask the user to input a sentence, then print:
# 1. Number of characters
# 2. The sentence repeated twice

sentence = input("Enter a sentence: ")

# Number of characters
print("Number of characters in the sentence:", len(sentence))

# Sentence repeated twice
print("Sentence repeated twice:", sentence * 2)

3. Boolean(bool)
* Represents true or false values(used in conditions)
*   These values are used in conditions, comparisons, and decision-making (like if, else).

In [ ]:
#Example #1
a = True
b = False
print(a, b)
print(type(a))   # <class 'bool'>

In [ ]:
#Boolean-Example-2
is_active = True
is_logged_in = False
print(type(is_active))

In [ ]:
#Booleans from Comparisons
print(5 > 3)   # True
print(10 == 2) # False
print(8 <= 8)  # True
print(4 != 4)  # False

In [ ]:
#Exercise-1: Check if a number entered by the user is greater than 100.

In [ ]:
#Exercise-2: Ask a user to enter a password. If it equals "python123", print "Access Granted", else "Access Denied".

In [ ]:
#Advanced Exercise-3: Check if a password length is at least 8 characters AND contains the word "123".
password = input("Enter your password:")
if len(password) >8 && "123" in password:
    print("password is valid")
    else:
        password("password is invalid!")

4.   Lists
*   A list is a data structure in Python used to store multiple items in a single variable.
*   Lists are the same as arrays--> can have heterogeneous data types in them
*   Lists are Mutable-i.e. can store different data types (numbers, strings, floats, etc.)
*   Ordered,changeable collections of items
*   i.e. Lists are changeable (you can add, remove, update items)
*   List uses Square brackets: []
*  Lists allow duplicate values
*  NB:In Simple Words: A list is like a container that can hold many items together, and you can change them.


*   | Operation      | Code Example          |
| -------------- | --------------------- |
| Add item       | `list.append( item )` |
| Remove item    | `list.remove( item )` |
| Length of list | `len(list)`           |
| Sort list      | `sorted(list)`        |

In [ ]:
#Example-1:
my_list = [1, 2, 3, "python", 4.5]
print(my_list)

In [ ]:
#Example-2
fruits = ["apple", "banana", "mango"]
print(type(fruits))

In [ ]:
# Initializing an empty list in two different ways
# Method 1: Using square brackets
my_list = []
print(my_list)
# Method 2: Using the list() constructor
my_list_2 = list()
print(my_list_2)

In [ ]:
# 2. Adding elements into the lists
# Creating a list with initial elements
my_list = [1, 2, 3, 'student', 'python']
# Creating a list using the list() constructor
my_list_2 = list([4, 5, 3.142, 'fun', 'cool'])
# Printing both lists
print(my_list)
print(my_list_2)

In [ ]:
# 3. Accessing elements of the list
my_list = [1, 2, 3, 'student', 'python']
print(my_list[:])       # Access all elements
print(my_list[3])       # Access the 4th element (index 3)
print(my_list[0:4])     # Access elements from index 0 to 3
print(my_list[::-1])    # Access elements in reverse order
print(my_list[3][2])    # Access a character from the string 'student' (index 2 → 'u')

In [ ]:
#Exmple: Changing Items
numbers = [4, 5, 6]
numbers[0] = 10
print(numbers)

In [ ]:
# Working with append() and extend()
my_list = [1, 2, 3, 'compiler', 'python']
my_list_2 = [4, 5, 3.142, 'fun', 'cool']
# append() adds the entire passed item as a single element
my_list.append([555, 12])  #append() → adds [555, 12] as one element
print(my_list)
print(len(my_list))
# extend() adds items one-by-one into the list
my_list_2.extend([555, 12]) #extend() → adds 555 and 12 separately
print(my_list_2)
print(len(my_list_2)) #len() shows the updated list size

In [ ]:
# Using insert(), concatenation, and multiplication operations on lists
# Insert an element at a specific index
my_list.insert(1, 'insert example')
print(my_list)
# Concatenate list with another list
print(my_list + ['just for example'])
# Multiply list (repeat elements)
print(my_list * 2)
# Print original list to show it remains unchanged after multiplication
print(my_list)

In [ ]:
# Working with extend(), del, remove(), pop(), and clear()
my_list = [1, 2, 3, 'compiler', 'python']
my_list_2 = [4, 5, 3.142, 'fun', 'cool']
# Extend the list by adding elements one-by-one
my_list_2.extend([555, 12, 'example'])
print(my_list_2)
# Delete element at index 5 using del
del my_list_2[5]
print(my_list_2)
# Remove a specific element by value (if present)
my_list_2.remove('example')
# Pop element at index 5 (also returns the removed value)
a = my_list_2.pop(5)
print('Popped Element:', a, ' | List remaining:', my_list_2)
# Clear the entire list
my_list_2.clear()
print(my_list_2)

In [ ]:
# Using list functions: len(), index(), count(), sorted(), sort(), copy()
my_list = [1, 2, 3, 'compiler', 'python']
my_list_2 = [4, 5, 3.142, 'fun', 'cool']
new = [5, 4, 12, 45, 3]
# Find the length of the list
print(len(my_list))
# Find the index of an element
print(my_list.index('compiler'))
# Count how many times an element appears in the list
print(my_list.count('compiler'))
# sorted() returns a new sorted list, original remains unchanged
print(sorted(new))
print(new)
# sort() modifies the list in place (reverse order)
new.sort(reverse=True)
print(new)
# Copy list elements into a new list
new_list = my_list.copy()
print(new_list)

In [ ]:
#Exercise-1: Create a list with 5 numbers. Print the first and last elements.

In [ ]:
#Exercise-2: Add a new item to the list and print it.

5.  Tuple(tuple)
*   A tuple is a data type in Python that can store multiple items like a list, BUT it is immutable. or cannot be changed after creation unlike a list
*   Ordered (items have fixed positions/indexes)
*   Can contain different data types (ints, strings, floats, etc.)
*   Allows duplicate values
*   Use parentheses and comma-separated values
*  In simple words: A tuple is like a list, but locked — once created, you cannot add, remove, or change items.
*   Faster than lists

In [ ]:
#Example-1:
my_tuple = (1, 2, 3, "python", 4.5)
print(my_tuple)

In [ ]:
#Example-tuple
days = ("Mon", "Tue", "Wed")
print(type(days))   # <class 'tuple'>

In [ ]:
#Tuple Slicing
numbers = (10, 20, 30, 40, 50)
print(numbers[1:4])   # (20, 30, 40)

In [ ]:
# 1. Initializing tuples
# Tuple with multiple elements
my_tuple = (1, 2, 3)
# Another tuple using the tuple() constructor
my_tuple_2 = tuple(('python', 'for', 'compiler'))
# Printing the tuples
print(my_tuple)     # Output: (1, 2, 3)
print(my_tuple_2)   # Output: ('python', 'for', 'compiler')
# Tuple with a single element
my_tuple_3 = 'example',  # Note the comma at the end; without it, this is just a string
# Checking the type
print(type(my_tuple_3))  # Output: <class 'tuple'>

In [ ]:
# 2. Accessing elements of a tuple
# Tuple with numbers
my_tuple = (1, 2, 3)
# Tuple with strings
my_tuple_2 = ('python', 'for', 'compiler')
# Tuple containing a list
my_tuple_3 = (1, 2, 3, ['hindi', 'python'])
# Accessing the first element of my_tuple
print(my_tuple[0])   # Output: 1   #[] to access individual elements.
# Accessing all elements (slicing)
print(my_tuple[:])   # Output: (1, 2, 3) [:] to get a copy of the tuple.
# Accessing the second element inside the list within the tuple
print(my_tuple_3[3][1])  # Output: 'python'

In [ ]:
#Immutability Example
numbers = (1, 2, 3)
numbers[0] = 10   # Error — tuples cannot be modified

In [ ]:
#Exercise 1: Create a tuple with 4 country names. Print the second and last country.

In [ ]:
#Exercise 2: Try to modify the tuple and observe what happens

6. Dictionary
* Store data as key-values pair  
*   Each item has a key and a value.
Keys must be unique, but values can be duplicated.
*   Mutable-->meaning you can add, remove, or change items.
*   Dictionaries are unordered
*   NB:In Simple Words-A dictionary is like a real-life dictionary: it maps a key (word) to a value (definition).

*   Useful Dictionary Methods
| Method          | Description                 |
| --------------- | --------------------------- |
| `dict.keys()`   | Returns all keys            |
| `dict.values()` | Returns all values          |
| `dict.items()`  | Returns all key-value pairs |
| `dict.get(key)` | Returns value for a key     |

*   Syntax
*   my_dict = {
    "key1": "value1",
    "key2": "value2",
    "key3": "value3"
}

In [ ]:
#Example-1
student = {
    "name": "Abdi",
    "age": 20,
    "grade": "A"
}
print(student)
print(student["name"])   # Access value using key

In [ ]:
student = {"name": "John", "age": 21}
print(type(student))

In [ ]:
#Adding / Modifying Items
student["age"] = 21          # Modify value
student["country"] = "Ethiopia"  # Add new key-value pair
print(student)

In [ ]:
#Removing Items
# Removing Items
student = {
    "name": "Abdi",
    "age": 21,
    "grade": "A"
}
del student['grade']   # Remove key-value pair
print(student)

In [ ]:
#Exercise
#Create a dictionary of a book with keys: "title", "author", "year"
#Print the "author"
#Add a new key "pages" with a value
#Remove the "year" key

**[4. Operators](https://)**
*  Operators are special symbols that perform operations on variables and values.
*   They allow us to manipulate data, do calculations, compare values, and make decisions.

In [ ]:
#Example
a = 10
b = 5
print(a + b)    # + is an operator

15

*   Types of Operators in Python

 1. Arithmetic Operators
*   Used for mathematical calculations.
| Operator | Meaning             | Example  | Result |
| -------- | ------------------- | -------- | ------ |
| `+`      | Addition            | `5 + 3`  | 8      |
| `-`      | Subtraction         | `7 - 2`  | 5      |
| `*`      | Multiplication      | `4 * 3`  | 12     |
| `/`      | Division            | `10 / 2` | 5.0    |
| `%`      | Modulus (remainder) | `10 % 3` | 1      |
| `**`     | Exponent (power)    | `2**3`   | 8      |
| `//`     | Floor division      | `7 // 2` | 3      |

In [ ]:
#Example
x = 10
y = 3
print(x * y)
print(x % y)

In [ ]:
print(2**3**2)

512

2. Comparison / Relational Operators
*   Used to compare values. Returns True or False.
| Operator | Meaning          | Example         |
| -------- | ---------------- | --------------- |
| `==`     | Equal to         | `5 == 5` → True |
| `!=`     | Not equal        | `5 != 3` → True |
| `>`      | Greater than     | `7 > 2`         |
| `<`      | Less than        | `3 < 5`         |
| `>=`     | Greater or equal | `6 >= 6`        |
| `<=`     | Less or equal    | `4 <= 9`        |

In [ ]:
#Example
print(10 > 7)
print(5 == 3)

True
False

3. Assignment Operators
*   Used to assign values to variables.
| Operator | Meaning           | Example  |
| -------- | ----------------- | -------- |
| `=`      | Assign value      | `x = 5`  |
| `+=`     | x = x + something | `x += 2` |
| `-=`     | x = x - something | `x -= 3` |
| `*=`     | x = x * something | `x *= 4` |
| `/=`     | x = x / something | `x /= 2` |
| `%=`     | x = x % something | `x %= 3` |

In [ ]:
a = 10
b = 15

if a == b:
    print('They are equal')
elif a > b:
    print('a is larger')
else:
    print('b is larger')

In [ ]:
#nested if-else statements
n=int(input("Enter a number:"))
if n>=0:
    if n==0:
        print("Entered number  is zero:")
    else:
        print("Entered number is positive:")
else:
        print('Entered number is negative')

In [ ]:
#Loops
#Simple for loop
basket_of_fruits = ['apple','orange','banana','pinapple']
for fruit in basket_of_fruits:
    print(fruit)

In [ ]:
numbers=[1,2,3,4,5,6]
sum_of_elements=0
for i in numbers:
    n+=i #n=n+i
    print(n)

In [ ]:
for i in range(10):
    print(i)
    print('\n')

In [ ]:
for i in range (1, 20,5):
    print(i)
    print('\n')
    #What the code does
    #range(1, 20, 5)
    #Starts at 1
    #Stops before 20
    #Increases by 5 each time
    #So the values of i will be:
    #Syntax
        #for variable in range(start, stop, step):
        #statement(s)

In [ ]:
for i in range(3,7):
    print(i)
    print('\n')

In [ ]:
sum =0
for i in range(0,11):
    sum+=i
    print(sum)

In [ ]:
sum=0
for i in range(1,11):
    sum+=i
    print(sum)

In [ ]:
#while loop
i=1
sum=0
while i<=10:
    sum+=i
    i+=1
    print(sum)

In [ ]:
print(2**3**2)

In [ ]:
len([[]])

In [ ]:
len([])

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name      # instance variable
        self.age = age

    def greet(self):
        print(f"Hello, my name is {self.name} and I am {self.age} years old.")

# Create an instance of Person
p1 = Person("Alem", 25)
p1.greet()  # Calls greet() on p1

In [ ]:
print(0.1+0.2==0.3)

In [ ]:
for i in range(1, 10):
    if i == 5:
        break  # stop the loop when i is 5
    print(i)

In [ ]:
count = 0
while True:
    print(count)
    count += 1
    if count == 3:
        break  # exit the loop when count is 3